* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icone-e-texto {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icone {
  height: 30px;
  width: 30px;
}
header {
  display: flex;
  background-color: gray;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0px 20px;
  grid-column: 1/-1;
}
